<div class="container">
  <div class="card"></div>
  <div class="card">
    <h1 class="title">Login</h1>
    <form ng-submit="login()">
      <div class="input-container">
        <nd-text-box
          ng-model="user.username"
          nd-lable="Username"
          nd-id="Username"
          nd-required="required"></nd-text-box>
        <div class="bar"></div>
      </div>
      <div class="input-container">
        <nd-password
          ng-model="user.password"
          nd-lable="Password"
          nd-id="Password"
          nd-required="required"></nd-password>
        <div class="bar"></div>
      </div>
      <div class="button-container">
        <nd-button nd-lable="Go"></nd-button>
      </div>
      <div class="footer"><a href="#">Forgot your password?</a></div>
    </form>
  </div>
  <div class="card alt">
    <div class="toggle"></div>
    <h1 class="title">
      Register
      <div class="close"></div>
    </h1>
    <form>
      <div class="input-container">
        <input type="text" id="Username" required="required"/>
        <label for="Username">Username</label>
        <div class="bar"></div>
      </div>
      <div class="input-container">
        <input type="password" id="Password" required="required"/>
        <label for="Password">Password</label>
        <div class="bar"></div>
      </div>
      <div class="input-container">
        <input type="password" id="Repeat Password" required="required"/>
        <label for="Repeat Password">Repeat Password</label>
        <div class="bar"></div>
      </div>
      <div class="button-container">
        <button><span>Next</span></button>
      </div>
    </form>
  </div>
</div>