//colors
$color_wisteria_approx: #9b59b6;
$color_curious_blue_approx: #3498db;

#preloader_1 {
  position: relative;
  span {
    display: block;
    bottom: 0;
    width: 9px;
    height: 5px;
    background: $color_wisteria_approx;
    position: absolute;
    animation: preloader_1 1.5s infinite ease-in-out;
    &:nth-child(2) {
      left: 11px;
      animation-delay: .2s;
    }
    &:nth-child(3) {
      left: 22px;
      animation-delay: .4s;
    }
    &:nth-child(4) {
      left: 33px;
      animation-delay: .6s;
    }
    &:nth-child(5) {
      left: 44px;
      animation-delay: .8s;
    }
  }
}
@keyframes preloader_1 {
  0% {
    height: 5px;
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: translateY(0px);
    background: $color_wisteria_approx;
  }
  25% {
    height: 30px;
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: translateY(15px);
    background: $color_curious_blue_approx;
  }
  50% {
    height: 5px;
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: translateY(0px);
    background: $color_wisteria_approx;
  }
  100% {
    height: 5px;
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: translateY(0px);
    background: $color_wisteria_approx;
  }
}